#sidebar-menu .nav.sidebar-nav{ margin:0px;}
.pull-right ul{ padding:0px; margin:0px;}
.pull-right ul li{ display:inline-block; float:left; text-align:center; padding:0px 15px;}
.pull-right ul li span{ font-size:26px;}
.pull-right ul li a{ font-weight:normal;} 
header.navbar-fixed-top + #main{ padding-top:78px !important;}
/* Time Slider */
.slider{width:400px; float:left;}
.slider, #slider1, #slider2, table{margin:10px;}
/* Time Slider End */
/* expand store settings */

.demo {
  position:relative;
  overflow:hidden
}

.collapse p {padding:0 10px 1em}

.switch {position:absolute; top:1.5em; right: 1.5em; padding:3px}

.post .switch {position:static; text-align:right}

.post .main{margin-bottom:.3em; padding-bottom:0}

.other li, .summary {margin-bottom:.3em; padding:1em; }

.other ul {list-style-type:none; text-align:center}

.expand{padding-bottom:.75em}

.expand a {
  display:block;
  padding:3px 10px
}
.expand a:link, .expand a:visited {
 
}
.expand a:hover, .expand a:active, .expand a:focus {
}
.expand a.open:link, .expand a.open:visited {
  
}
/* expand store settings end */